.navbar{ 
    height: 50px;
    border-bottom: 0.5px solid rgb(230, 228, 228);
    display: flex;
    align-items: center;
    font-style: 14px;
    color: #555555;

    .wrapper{ 
        display: flex;
        width: 100%;
        height: 20px;
        align-items: center;
        justify-content: space-between;
    
        .search{ 
            height: 35px;
            width: 200px;
            display: flex;
            align-items: center;
            border: 0.5px solid rgb(230, 228, 228);
            margin-left: 20px;
            background-color: white;

            input{ 
                border: none;
                outline: none;
                background: transparent;

                // &:hover{ 
                //     background-color: #555555;

                // }
            }
        }

        .items{ 
            display: flex;
            align-items: center;

            .item{ 
                display: flex;
                align-items: center;
                margin-left: 20px;
                position: relative;

                .icon{ 
                    font-size: 20px;
                }

                .avatar{ 
                    width: 30px;
                    height: 30px;
                    border-radius:50%; 
                }
                .counter{ 
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                }
            }

        }
    }
     
}