.single{ 
    display: flex;
    width: 100%;
    .containerSingle{ 
       flex: 6;
       .top{ 
           padding: 20px;
           display: flex;
           gap: 20px;
           .left{ 
            flex: 1;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47); 
            box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
            position: relative;

            .editButton{ 
                position:absolute;
                top:0; 
                right: 0;
                padding: 5px;
                font-size: 14px;
                color: blue;
                background-color: rgb(231, 217, 217);
                cursor: pointer;
                border-radius: 0px 5px 0 5px;
            }

            .title{ 
                padding-left: 10px;
                text-align: center;
                justify-content: center;
                gap: 10px;
                padding-bottom: 5px;
                border-bottom: 1px solid gray;
            }
            
            .item{ 
               display: flex;
               gap: 20px;
               margin-left: 20px;
               margin-bottom: 20px;
               .itemTitle{ 
                   font-size: 16px;
                   font-weight: 600;
                    background-color: rgba(0, 128, 0, 0.151);
                    color: green;
                    padding-top: 10px;
                    height: 40px;
                    width: 100%;
                    text-align: center;
                    justify-content: center;
                    border-radius: 10px;
               }
               .detailItem{ 
                   
                   margin-top: 10px;
                   
                   .itemKey{ 
                       font-size: 14px;
                       font-weight: 400;
                       margin-right: 5px;
                       color: gray;

                   }
               }

                
            }      
        }
        .right{ 
            flex: 2;
       }

       .bottom{ 
           padding: 20px;
           margin: 20px;
           display: flex;
           }
       }
    }
}