.list{ 
    display: flex;
    width: 100%;
    .listContainer{ 
        flex:6; 
        

        .titleTable{ 
            text-align: center;
            padding-top: 20px ;
            font-weight: 600;
            justify-content: center;
            gap:20; 
            font-size: 24px;
        }

    }
}