.newships{ 
    display: flex;
    width: 100%;
    .containerNewships{ 
       flex: 6;
       .top{ 
           h3{ 
               padding-left: 10px;
           }
       }
       .top,
       .bottom{ 
           padding: 20px;
           margin: 20px;
           display: flex;
           -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47); 
            box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
           .left{ 
               flex: 1;
               
           }
           .right{ 
               flex: 2;
            

           }
       }
    }
}